/* Styles de base pour le HTML et le body */
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    height: 80vh;
}

/* Styles pour les titres et paragraphes */
h1 {
    font-weight: bolder;
    font-size: 50px;
}
p {
    font-size: medium;
    text-align: center;
}

/* Styles pour les éléments input */
input {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: center;
    height: 25px;
    border: 2px solid #fff;
    color: #ff7f50;
    background-color: #ffffff;
    font-weight: bolder;
}

/* Styles pour l'en-tête, le conteneur principal et le pied de page */
.header {
    text-align: center;
    color: #ff7f50;
}

.container {
    background-color: #fa5e25;
    color: #fff;
    border-radius: 20px;
    padding: 10px;
    margin-left: 28%;
    margin-right: 28%;
}

.footer {
    text-align: center;
    background-color: #fa5e25;
    color: #fff;
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* Styles pour les champs de saisie */
.input, .input2 {
    width: 250px;
}

/* Styles pour les boutons */
.button {
    color: #fff;
    background-color: #fa5e25;
    font-weight: bolder;
    border: 2px solid #fa5e25;
    border-radius: 15px;
    padding: 10px;
}
.button:hover {
    border: 2px solid #ff7f50;
    background-color: #fff;
    color: #ff7f50;
}
.button1, .button2 {
    margin-left: 15px;
}

/* Styles pour le centrage et les groupes radio */
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.radio-group {
    display: inline-block;
    margin-right: 15px;
}
.radio-group input[type="radio"] {
    display: none;
}
.radio-group label {
    background-color: #fa5e25;
    color: #fff;
    padding: 5px 10px;
    border: 2px solid #fa5e25;
    border-radius: 15px;
    cursor: pointer;
}
.radio-group input[type="radio"]:checked + label {
    background-color: #fff;
    color: #fa5e25;
}
.radio-group label:hover {
    background-color: #ff7f50;
    color: white;
    border-color: #ff7f50;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

/* Styles pour les messages d'erreur et de temps */
.error {
    color: #fff;
    display: none;
    background-color: #ff0000;
    border-radius: 15px;
    border: 2px solid #fff;
    padding: 10px;
}

.time {
    color: #fff;
    display: none;
}

/* Styles pour l'affichage du score */
.score {
    background-color: #fff;
    color: #fa5e25;
    font-weight: bolder;
    margin-left: 37%;
    margin-right: 37%;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
}

/* Media Queries pour les écrans d'ordinateurs */
@media screen and (min-width: 1920px) {
    .container {
        margin-left: 15%;
        margin-right: 15%;
        padding: 20px;
    }
    h1 {
        font-size: 60px;
    }
    p {
        font-size: large;
    }
}

@media screen and (min-width: 1366px) and (max-width: 1919px) {
    .container {
        margin-left: 20%;
        margin-right: 20%;
        padding: 15px;
    }
    h1 {
        font-size: 55px;
    }
}

/* Media Queries pour les tablettes */
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .container {
        margin-left: 10%;
        margin-right: 10%;
    }
    h1 {
        font-size: 40px;
    }
    .input, .input2 {
        width: 200px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .container {
        margin-left: 5%;
        margin-right: 5%;
    }
    h1 {
        font-size: 35px;
    }
    .input, .input2 {
        width: 180px;
    }
}

/* Media Queries pour les téléphones intelligents */
@media screen and (max-width: 360px) {
    .container {
        margin: 0;
        border-radius: 0;
        margin-left: 2%;
        margin-right: 2%;
    }
    h1 {
        font-size: 30px;
    }
    p, .input, .input2 {
        font-size: small;
        width: 100%;
    }
    .button {
        padding: 5px;
        font-size: small;
    }
}

@media screen and (max-width: 375px), screen and (max-width: 425px) {
    .container {
        margin: 0;
        padding: 5px;
        margin-left: 2%;
        margin-right: 2%;
    }
    h1 {
        font-size: 28px;
    }
    .button {
        font-size: small;
    }
}

@media screen and (max-width: 320px) {
    h1 {
        font-size: 26px;
    }
    .container {
        margin-left: 2%;
        margin-right: 2%;
    }
    p, .input, .input2 {
        font-size: smaller;
    }
}
